services:
  db:
    image: mysql:8.0
    environment:
      MYSQL_DATABASE: ensolvers_note
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci